#mapid { 
    height: 512px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#chartContainer {
    margin-bottom: 50px;
}

.container {
    width: 95%;
    margin: 10px auto;
    background-color: white;
    position: relative;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#modal {
    display:    block;
    position:   absolute;
    z-index:    999999;
    height:     370px;
    width:      100%;
    background: rgba( 255, 255, 255, .5 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

#null {
    display:    none;
    position:   absolute;
    z-index:    1;
    height:     370px;
    width:      100%;
    background: rgba( 255, 255, 255, .5 )
                50% 50% 
                no-repeat;
}

#inputCalendar {
    z-index: 2;
}

#calendar {
    height: 25px;
    width: 25px;
    display: block;
}

#inputCalendar {
    box-sizing: border-box;
}

.table {
    height: 500px;
    margin-bottom: 20px;
}